* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


html {
  /* font-size: 10px; */
  font-size: 62.5%;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

.container {
  padding: 0 4rem;
  max-width: 1440px;
}

.section-title {
  font-size: 2.4rem;
  color: #252C35;
}