---
import Arrow from "@components/utilities/Arrow.astro";
import DashBoardCard from "./DashBoardCard.astro";
---

<DashBoardCard title="Github Acitivties" isLink url="https://github.com/KKoichi276052">
	<div class="flex items-center justify-around gap-3">

		<div class="">
			<img src="http://ghchart.rshah.org/KKoichi276052" alt="Github chart" class=" md:w-full h-32 md:h-full object-none object-right md:object-cover"/>
		</div>

		<Arrow />
		
	</div>

</DashBoardCard>